.ContactForm {
	width: 50%;
	margin: auto;
	font-family: "Helvetica", serif;
	clear: both;
	}
.SaveButton{
	margin: auto;
	width: 150px;
	height: 50px;
	align-self: center;
	justify-content: center;
	display: flex;
	align-items: center;
}
#formHeading{
	align-self: center;
	justify-content: center;
	display: flex;
	align-items: center;
	padding-top: 30px;
	color:#2c94ec;
}
#errorPanel{
	margin: auto;
	width: 30%;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 18px;
	clear: both;
	margin-bottom: 20px;
	color: red;
}