.HomeHeading{
	color: blue;
	justify-content: center;
	display: flex;
	align-items: center;
	font-family: "Helvetica", serif;
	font-size: 50px;
	}
.ContactsTable {
	border: 1px solid black;
	margin: auto;
	width: 50%;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 30px;
	font-family: "Helvetica", serif;
	clear: both;
	}
.AddButton{
	float:right;
	padding: 50px;
	margin-top: -8%;
}
