#HomeHeading{
	justify-content: center;
	display: flex;
	align-items: center;
	padding-top: 30px;
	}
#ContactsTable {
	margin: auto;
	width: 50%;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 30px;
	font-family: "Helvetica", serif;
	clear: both;
	}
.AddButton{
	float:right;
	padding: 50px;
	margin-top: -8%;
}
