.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  font-family: "Helvetica", serif;
  display: flex;
  z-index: 1;
}
.popup_inner {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 30%;
  bottom: 30%;
  background: white;
}
.popup_inner h1{
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 30px;
}
.popup_inner button{
  width: 15%;
  height: 12%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 22px;
}
.icon{
  width: 100px;
  height: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 35px;
}
.question{
  text-align: center;
  width: 80%;
  align-items: center;
  margin: auto;
  padding: 10px;
}
.yesno{
  width: 50%;
  margin: auto;
}
#yes{
  float: left;
  width: 150px;
  height: 50px;
  font-size: 22px;
}
#no{
  float: right;
  width: 150px;
  height: 50px;
  font-size: 22px;
}
#SuccessAndFailurePopup{
  z-index: 2;
}
#SuccessAndFailurePopupInner{
  z-index: 2;
}

