.ContactForm {
	width: 50%;
	margin: auto;
	font-size: 30px;
	font-family: "Helvetica", serif;
	clear: both;
	}

.SaveButton{
	margin: auto;
	width: 150px;
	height: 50px;
	align-self: center;
	justify-content: center;
	display: flex;
	align-items: center;
}
#formHeading{
	align-self: center;
	justify-content: center;
	display: flex;
	align-items: center;
	padding-top: 30px;
	color:#2c94ec;
}
#hint{
	align-self: center;
	justify-content: center;
	display: flex;
	align-items: center;
	padding-top: 30px;
}