#ContactName{
	justify-content: center;
	display: flex;
	align-items: center;
	font-family: "Helvetica", serif;
	padding-top: 10px;
	color: #2c94ec;
}
#Contact{
	margin: auto;
	width: 50%;
	justify-content: center;
	text-align: center;
	font-size: 30px;
	font-family: "Helvetica", serif;
	clear: both;
}
.EditButton{
	float:right;
	padding: 50px;
	margin-top: -8%;
}
.DeleteButton{
	float:right;
	padding: 50px;
	margin-top: -8%;
}
